.projects {
  padding: 100px 20px;
  background: #000000;
  text-align: center;
}

.projects-title {
  font-size: 3.2rem;
  color: #ffffff;
  margin-bottom: 60px;
}

/* GRID */
.projects-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 35px;
}

/* CARD */
.project-card {
  background: #000000;
  border-radius: 18px;
  overflow: hidden;
  border: 1px solid #ffae00;
  box-shadow: 0 0 10px #ffae00; /* glow di tepi */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  box-shadow: 0 0 20px #ffae00;
  transform: translateY(-5px);
}

.project-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.project-content {
  padding: 22px;
}

.project-content h3 {
  font-size: 1.8rem;
  color: #e5e7eb;
  margin-bottom: 10px;
}

.project-content p {
  font-size: 1.4rem;
  color: #cbcfd5;
  line-height: 1.6;
}

.highlight {
  color: #ffae00;
}

/* BUTTONS
.project-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 18px;
}

.project-buttons a {
  padding: 8px 18px;
  border-radius: 25px;
  border: 1px solid #ffae00;
  color: #ffae00;
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

.project-buttons a:hover {
  background: #ffae00;
  color: #020617;
} */
